node_modules
packages/*/lib
packages/*/dist
packages/*/node_modules
e2e/cypress/videos
packages/*/*.iml
e2e/node_modules
e2e/testapps/dist
*.iml
testapps/*/node_modules
testapps/*/build
testapps/*/.cache
testapps/react/.env.development.local
**/packahe.json.lerna_backup
**/node_modules
packages/**/dist
testapps/*/dist
testapps/ngx/*/dist
**/.DS_Store
testapps/gatsby/.env*
testapps/gatsby.cache
testapps/gatsby/public
testapps/next/.idea
testapps/next/.next
testapps/next/dist
**/.vscode
.gradle
e2e/extension