node_modules
packages/*/lib
packages/*/dist
packages/*/node_modules
e2e/cypress/videos
packages/*/*.iml
e2e/node_modules
e2e/testapps/dist
clients.polygloatRestructure.core.iml
testapps/*/node_modules
testapps/*/build
**/packahe.json.lerna_backup
**/node_modules
packages/**/dist
testapps/*/dist
testapps/ngx/*/dist