node_modules
packages/*/lib
packages/*/dist
packages/*/node_modules
e2e/cypress/videos
packages/*/*.iml
e2e/node_modules
e2e/testapps/dist
*.iml
**/packahe.json.lerna_backup
**/node_modules
packages/**/dist
testapps/*/dist
**/.DS_Store
**/.vscode
.gradle
e2e/extension
