strict-peer-dependencies=false
store-dir=.pnpm-store
# jest completely not working without this
shamefully-hoist=true
# hopefully will be fixed in future versions - now it fails in CI
prefer-frozen-lockfile=false