strict-peer-dependencies=false
store-dir=.pnpm-store
auto-install-peers=true

# jest completely not working without this
shamefully-hoist=true
prefer-workspace-packages=true
save-workspace-protocol=false