<div class="background-wrapper">
  <div class="example">
    <app-navbar>
      <a
        routerLink="/translation-methods"
        t
        key="menu-item-translation-methods"
      ></a>
      <a routerLink="/lazy" t key="lazy-module" default="Lazy module"></a>
    </app-navbar>

    <header>
      <img src="/assets/img/appLogo.svg" />
      <h1 class="header__title" t key="app-title"></h1>
    </header>
    <section class="items">
      <form class="items__new-item" (submit)="onAdd($event)">
        <input
          [(ngModel)]="newItemValue"
          placeholder="{{ 'add-item-input-placeholder' | translate }}"
          [ngModelOptions]="{ standalone: true }"
        />
        <button type="submit" [disabled]="!newItemValue" class="button">
          <img src="/assets/img/iconAdd.svg" />
          {{ 'add-item-add-button' | translate }}
        </button>
      </form>
      <div class="items__list">
        <div class="item" *ngFor="let item of items; let i = index">
          <div class="item__text">{{ item }}</div>
          <button (click)="onDelete(i)" t key="delete-item-button"></button>
        </div>
      </div>
      <div class="items__buttons">
        <button class="button" (click)="onAction('share')">
          <img src="/assets/img/iconShare.svg" />
          {{ 'share-button' | translate }}
        </button>
        <button class="button button--secondary" (click)="onAction('email')">
          <img src="/assets/img/iconMail.svg" />
          {{ 'send-via-email' | translate }}
        </button>
      </div>
    </section>
  </div>
</div>
