<div class="background-wrapper">
  <div class="example">
    <app-navbar>
      <a
        routerLink="/translation-methods"
        t
        key="menu-item-translation-methods"
      ></a>
      <a routerLink="/lazy" t key="lazy-module" default="Lazy module"></a>
    </app-navbar>

    <header>
      <img
        ngSrc="/assets/img/appLogo.svg"
        priority
        height="33"
        width="76"
        [alt]="'app-title' | translate"
      />
      <h1 class="header__title" t key="app-title"></h1>
    </header>
    <section class="items">
      <form class="items__new-item" (submit)="onAdd($event)">
        <input
          [(ngModel)]="newItemValue"
          placeholder="{{ 'add-item-input-placeholder' | translate }}"
          [ngModelOptions]="{ standalone: true }"
        />
        <button type="submit" [disabled]="!newItemValue" class="button">
          <img ngSrc="/assets/img/iconAdd.svg" height="20" width="20" alt="" />
          {{ 'add-item-add-button' | translate }}
        </button>
      </form>
      <div class="items__list">
        @for (item of items; track item; let i = $index) {
          <div class="item">
            <div class="item__text">{{ item }}</div>
            <button (click)="onDelete(i)" t key="delete-item-button"></button>
          </div>
        }
      </div>
      <div class="items__buttons">
        <button class="button" (click)="onAction('share')">
          <img
            ngSrc="/assets/img/iconShare.svg"
            height="20"
            width="20"
            [alt]="'share-button' | translate"
          />
          {{ 'share-button' | translate }}
        </button>
        <button class="button button--secondary" (click)="onAction('email')">
          <img
            ngSrc="/assets/img/iconMail.svg"
            height="20"
            width="20"
            [alt]="'send-via-email' | translate"
          />
          {{ 'send-via-email' | translate }}
        </button>
      </div>
    </section>
  </div>
</div>
