version: '3'
services:
  app:
    container_name: tolgee_js_e2e_server
    image: tolgee/tolgee:latest
    ports:
      - 8202:8080
      - 8092:8091
    environment:
      - tolgee.internal.populate=true
      - tolgee.authentication.enabled=true
      - tolgee.internal.controllerEnabled=true
      - 'tolgee.screenshots-url=http://localhost:8202/screenshots'
      - tolgee.authentication.needs-email-verification=true
      - tolgee.authentication.registrations-allowed=true
      - tolgee.internal.fake-emails-sent=true
      - tolgee.authentication.initialPassword=admin
      - JAVA_TOOL_OPTIONS=-agentlib:jdwp=transport=dt_socket,address=*:8091,server=y,suspend=n
  e2e_app_core:
    container_name: tolgee_js_e2e_serve_testapps_core
    build: ../docker
    volumes:
      - '../testapps/core:/data'
    ports:
      - 8101:8101
    command: [ 'npm', 'run', 'serve' ]
    working_dir: /data
  e2e_app_react:
    container_name: tolgee_js_e2e_serve_testapps_react
    build: ../docker
    volumes:
      - '../:/data'
    ports:
      - 8102:8101
    command: [ 'npm', 'run', 'serve' ]
    working_dir: /data/testapps/react
  e2e_app_angular:
    container_name: tolgee_js_e2e_serve_testapps_ngx
    build: ../docker
    volumes:
      - '../:/data'
    ports:
      - 8103:8101
    command: [ 'npm', 'run', 'serve' ]
    working_dir: /data/testapps/ngx
  e2e_app_gatsby_dev:
    container_name: tolgee_js_e2e_serve_testapps_gatsby_dev
    build: ../docker
    volumes:
      - '../:/data'
    ports:
      - 8104:8000
    command: [ 'npm', 'run', 'start', '--', '--host=0.0.0.0' ]
    environment:
      GATSBY_TOLGEE_API_URL: http://localhost:8202
      GATSBY_TOLGEE_API_KEY: this_is_dummy_api_key
    working_dir: /data/testapps/gatsby
  e2e_app_gatsby_prod:
    container_name: tolgee_js_e2e_serve_testapps_gatsby_prod
    build: ../docker
    volumes:
      - '../:/data'
    ports:
      - 8105:9000
    command: [ 'npm', 'run', 'serve', '--', '--host=0.0.0.0' ]
    working_dir: /data/testapps/gatsby
  e2e_app_next_dev:
    container_name: tolgee_js_e2e_serve_testapps_next_dev
    build: ../docker
    volumes:
      - '../:/data'
    ports:
      - 8106:3000
    command: [ 'npm', 'run', 'dev' ]
    environment:
      NEXT_PUBLIC_TOLGEE_API_URL: http://localhost:8202
      NEXT_PUBLIC_TOLGEE_API_KEY: this_is_dummy_api_key
    working_dir: /data/testapps/next
  e2e_app_next_prod:
    container_name: tolgee_js_e2e_serve_testapps_next_prod
    build: ../docker
    volumes:
      - '../:/data'
    ports:
      - 8107:3000
    command: [ 'npm', 'run', 'start' ]
    environment:
      NEXT_BUILD_DIR: dist
    working_dir: /data/testapps/next
