.DS_Store
node_modules
/build
/.svelte-kit
/package
.env.local
.env.*.local

.eslintrc.cjs
.prettierrc
/build-e2e
src/i18n/*.json
CHANGELOG.md

# Ignore files for PNPM, NPM and YARN
pnpm-lock.yaml
package-lock.json
yarn.lock
