name: Prerelease

on:
  push:
    tags:
      - 'prerelease'

jobs:
  main:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          token: '${{ secrets.TOLGEE_MACHINE_PAT }}'

      - name: Build
        uses: actions/setup-node@v1
        with:
          node-version: '16.x'

      - uses: pnpm/action-setup@v2.0.1
        name: Install pnpm
        id: pnpm-install
        with:
          version: 7
          run_install: false

      - name: Create branch
        run: git checkout -b rc.$(git rev-parse --short HEAD)

      - name: Set git globals
        run: |
          git config --local user.email "machine@tolgee.io"
          git config --local user.name "Tolgee Machine"

      - name: Install
        run: pnpm i

      - name: Update version locally
        run: |
          lerna version --yes --conventional-commits --conventional-prerelease --preid rc.$(git rev-parse --short HEAD) \
            --force-publish --no-push --no-git-tag-version --exact

      # Set TOLGEE_UI_VERSION for @tolgee/core build
      - name: Set env
        run: echo "TOLGEE_UI_VERSION=$(npm run --silent ui-version)" >> $GITHUB_ENV

      - name: Build all packages
        run: pnpm build || pnpm build

      - name: Recreate release with push
        run: |
          git stash
          git push --follow-tags -u origin $(git rev-parse --abbrev-ref HEAD)
          lerna version --yes --conventional-commits --conventional-prerelease --preid rc.$(git rev-parse --short HEAD) \
            --force-publish --create-release github
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - run: echo '//registry.npmjs.org/:_authToken=${NPM_TOKEN}' > ~/.npmrc

      - name: Publish
        run: lerna publish from-package --yes --dist-tag rc
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
