name: Release

on:
  push:
    branches:
      - 'main'

jobs:
  main:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
          token: '${{ secrets.TOLGEE_MACHINE_PAT }}'

      - run: git fetch --depth=1 origin +refs/tags/*:refs/tags/*

      - name: Build
        uses: actions/setup-node@v1
        with:
          node-version: '14.x'

      - run: npm install -g npm@7

      - name: Set git globals
        run: |
          git config --local user.email "machine@tolgee.io"
          git config --local user.name "Tolgee Machine"

      - name: Install
        run: npm run ci:init

      - name: Update version locally
        run: lerna version --yes --no-push --no-git-tag-version --conventional-commits

      # Set TOLGEE_UI_VERSION for @tolgee/core build
      - name: Set env
        run: echo "TOLGEE_UI_VERSION=$(npm run --silent ui-version)" >> $GITHUB_ENV

      - name: Build all packages
        run: npm run ci:build

      - name: Test
        run: npm run ci:test

      - name: Build for cypress
        run: npm run ci:build:e2e

      - name: Cypress
        run: npm --prefix=e2e run start

      - name: Cypress cleanup
        if: always()
        run: npm --prefix=e2e run services:stop

      - run: echo //registry.npmjs.org/:_authToken=${NPM_TOKEN} > .npmrc
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}

      - name: Recreate release and push
        run: git stash && git stash drop && lerna version --yes --conventional-commits

      - name: Publish
        run: lerna publish from-package --yes

      - uses: actions/upload-artifact@v2
        if: always()
        with:
          name: cypress
          path: |
            cypress/videos/**/*
            cypress/screenshots/**/*
