name: Release

on:
  push:
    branches:
      - 'main'

jobs:
  main:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
          token: '${{ secrets.TOLGEE_MACHINE_PAT }}'

      - run: git fetch --depth=1 origin +refs/tags/*:refs/tags/*

      - name: Build
        uses: actions/setup-node@v1
        with:
          node-version: '16.x'

      - uses: pnpm/action-setup@v2.0.1
        name: Install pnpm
        id: pnpm-install
        with:
          version: 7
          run_install: false

      - name: Set git globals
        run: |
          git config --local user.email "machine@tolgee.io"
          git config --local user.name "Tolgee Machine"

      - name: Install
        run: pnpm i

      - name: Update version locally
        run: |
          lerna version --yes --conventional-commits \
            --no-push --no-git-tag-version

      # Set TOLGEE_UI_VERSION for @tolgee/core build
      - name: Set env
        run: echo "TOLGEE_UI_VERSION=$(pnpm run --silent ui-version)" >> $GITHUB_ENV

      - name: Build all packages
        run: pnpm build

      - name: Test
        run: pnpm test

      - name: Build for cypress
        run: pnpm build:e2e

      - name: Cypress
        run: pnpm --prefix=e2e run start

      - name: Cypress cleanup
        if: always()
        run: pnpm --prefix=e2e run services:stop

      - name: Recreate release with push
        run: |
          git stash
          lerna version --yes --conventional-commits\
            --create-release github
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Publish
        run: lerna publish from-package --yes
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}

      - uses: actions/upload-artifact@v2
        if: always()
        with:
          name: cypress
          path: |
            cypress/videos/**/*
            cypress/screenshots/**/*
